@use 'styleguide' as var;

.aboutContainer {
    background-color: var.$pink;
    padding: 100px 0;
   .about {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        .aboutImg {
            flex-basis: 25%;
            align-self: center;
            img {
                border-radius: 10%;
                width: 200px;
            }
        }
        .aboutText {
            align-self: center;
            flex-basis: 70%;
        }
    }
}

@media (max-width:1120px) {
    .aboutContainer {
        .about {
            flex-direction: column;
            .aboutImg {
                margin-bottom: 50px;
            }
                
        }
    }
    
}