@use 'styleguide' as var;

footer{
    background-color: var.$darkBlue;
    p {
        margin: 0 0;
        padding: 20px 0;
        color: var.$grey;
        a {
            color: var.$grey;
        }
    }
}