@use 'styleguide' as var;

// Nav Section

.navWrapper {
    max-width: 70rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 40%;
    padding: 0;
    li a {
        text-decoration: none;
        color: black;
    }
}

.navLinks li:last-child {
    background: var.$yellow;
    font-family: 'Nunito', sans-serif;
    padding: 1rem 2rem;
}

// Hero Section

.headingHero .wrapper {
    background-image: url(/assets/HeroImg.png);
    background-size: cover;
    background-position-x: right 0;
    height: 75vh;
    h1 {
        padding-top: 60px;
    }
    h2 {
        margin-top: 0.5rem;
    }
}