@use 'styleguide' as var;

.projectsContainer {
    h1 {
        margin: 100px 0 50px;
    }
}

.project  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    
    img {
        // width: 100%;
        
        flex-basis: 50%;
        border: 2px var.$grey solid;
    }
    .projectsTextDiv {
        flex-basis: 45%;
        h2 {
            text-align: left;
        }
        span{
            color: var.$darkBlue;
        }
        button {
            margin-right: 10px;
        }
    }
}



@media (max-width: 1120px) {
    .project {
        flex-direction: column;
        align-items: center;
        img {
            width: 80%;
            margin-bottom: 50px;
        }
        .projectsTextDiv {
           width: 80%;
        }
    }
}

@media (max-width: 600px) {
    .project {
        img {
            width: 90%;
        }

        .projectsButtons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            button {
                margin: 0 0 10px;
                width: 100%;
            }
        }
    }
    
}

@media (max-width: 400px) {
    .project {
        align-items: flex-start;
        img {
            width: 100%;
        }
        .projectsTextDiv {
            width: 100%;
        }
    }
}