$grey: #e7e8ee;
$pink: #dfe0fc;
$blue: #818cef;
$darkBlue: #3d48ae;
$yellow: #fbaf01;
$black: #2a3033;
$baseFont: 'PT Sans', sans-serif;

html {
    font-size: 125%;
    font-family: $baseFont;
}

.wrapper {
    max-width: 70rem;
    width: 75%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
}
ul {
    list-style: none;
    padding-left: 0;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: $black;
    font-family: $baseFont;
    font-weight: bold;
}

button {
    border: none;
    background-color: $yellow;
    padding: 10px 40px;
    transition-duration: 0.5s;
    border: 2px $yellow solid;
    cursor: pointer;
}

button:hover {
    background-color: $black;
    border: 2px $yellow solid;
    a {
        color: $grey;
        text-decoration: none;
    }
}