
.navWrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 35%;
}

.navLinks li a{
    text-decoration: none;
    color: black;
}
